    <div class="ui inverted menu">
      <div id="footer" class="ui container">
        <a href="/about" class="item">About</a>
        <a href="http://fabiocallegari.com/" class="item" target="_blank">Contact</a>
      </div>
    </div>
  </div>
</body>
</html>
