i.icon {
  font-size: 2em;
  font-weight: 400;
}

i.chevron {
  font-size: 1em;
}

img {
  max-width: 400px;
  max-height: auto;
}

#delete {
  display: inline;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container.main {
  margin-top: 7em;
  flex: 1;
}

#footer {
  justify-content: center;
}

#description {
  margin: .6em;
}

#created {
  margin: .2em;
}
